<!-- Esse component foi criado exclusivamente para componetizar o card para ser inserido no list.component.html -->

<mat-card appearance="outlined">
    <mat-card-header>
        <!-- com css -->
        <!-- <mat-card-title class="white-text">{{ item.title }}</mat-card-title> -->

        <!-- com alteracao no css porem direto no component material (olhe la no scss) -->
        <!-- productItemComponent()?.title -> para podermos pegar o que tem dentro de ProductsModel usando a funcao signal do input -->
        <!-- <mat-card-title>{{ productItemComponent()?.title }}</mat-card-title> !! ? -> OPCIONAL !! -->
        <mat-card-title>{{ productTitle() }}</mat-card-title>

    </mat-card-header>
    <mat-card-actions>
        <button mat-button (click)="onEdit()">Editar</button>
        <button mat-button>Deletar</button>
    </mat-card-actions>
</mat-card>