.action-container {
    display: flex;
    justify-content: flex-end;
    padding: 16px 0;
}

//justify-content -> horizontal
//padding: 16px; -> por em todos os lados
//padding: 16px 0; -> por na 1 (16)horizontal e na (0)vertical